.container {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Adjust height as needed */
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/47c2bc92-5a2a-4f33-8f91-4314e9e62ef1/web/PK-en-20240916-TRIFECTA-perspective_028cd98b-3ece-4b41-800b-1cfba7f1f558_medium.jpg');
    /* Replace with your background image path */
    background-size: cover;
    background-position: center 15%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center vertically */
    align-items: center;
    /* Center horizontally */
    z-index: 1;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.6));
    background-color: rgba(0, 0, 0, 0.5);
    /* Dark overlay with 50% opacity */
    z-index: 1;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 17px;
    /* padding: 10px; */
    /* Adjust padding as needed */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* Center the content horizontally */
    z-index: 1;
    /* Ensure it's above the background image */
}

.right-side {
    display: flex;
    align-items: start;
    padding-right: 50%;
}

.left-side {
    padding-left: 40px;
    margin-right: 20px;
}

.logo {
    max-width: 160px;
    /* Adjust logo size as needed */
    height: auto;
}

.sign-in {
    width: 78px;
    height: 32px;
    border-radius: 4px;
    border: 0px solid #e50914;
    background-color: #e50914;
    color: white;
    font-weight: bold;
}

.sign-in:hover {
    cursor: pointer;
    width: 78px;
    border-radius: 5px;
    border: 0px solid #c11119;
    background-color: #c11119;
    height: 32px;
    color: white;
}




.text-input {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding-top: 120px;
    /* padding-bottom: 50px;  */
}

.home-heading {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 56px;
    font-weight: 900;
    margin: 0;
}

.text-input h3 {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 20px;
    margin: 10px;
}

.text-input p {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    padding-top: 20px;
}

.input-fill {
    position: relative;
    display: flex;
}

.home-input {
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.479);
    background-color: rgba(20, 20, 20, 0.719);
    justify-content: start;
    width: 340px;
    height: 28px;
    padding: 10px;
    padding-top: 15px;
    color: white;
}


.home-input:focus {
    cursor: text;
    color: white;
    border: 1px solid white;
    border-color: #ffffff;
}

.btn {
    height: 54px;
    width: 220px;
    margin-left: 6px;
    border: 0px solid #e50914;
    background-color: #e50914;
    border-radius: 4px;
    color: white;
    font-size: 26px;
    font-weight: 600;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    height: 54px;
    width: 220px;
    margin-left: 6px;
    border: 0px solid #c11119;
    background-color: #c11119;
    border-radius: 4px;
    color: white;
    font-size: 24px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    cursor: pointer;
}

/* Wrapper styling */
.input-fill {
    position: relative;
    margin: 20px 0;
}

/* Floating label styling */
.floating-label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: white;
    transition: 0.2s ease all;
    pointer-events: none;
    /* Prevent the label from being clickable */
}

/* Move label when input is focused */
.home-input:focus~.floating-label {
    top: 12px;
    left: 10px;
    font-size: 12px;
    color: white;
    /* Label color when it floats */
}

/* Retain the label position after user clicks and fills the input */
.home-input:not(:placeholder-shown)~.floating-label {
    top: 10px;
    left: 10px;
    font-size: 10px;
    color: white;
}













.sign-logo {
    max-width: 160px;
    height: auto;
    padding-right: 250px;
}


.sign-container {
    background-color: rgba(0, 0, 0, 0.6);
    /* padding: 60px; */
    padding-top: 20px;
    height: 300px;
    padding-left: 65px;
    padding-right: 65px;
    margin-top: 120px;
    width: 320px;
    padding-bottom: 75%;
    border-radius: 5px;
    margin-bottom: 40px;
}

.signin-heading {
    text-align: start;
    font-size: 2em;
    font-weight: 700;
    /* margin-bottom: 0px; */
}

.container .form-element {
    position: relative;
    margin: 0 auto;
    padding-bottom: 16px;
}

.signin-input {
    box-sizing: border-box;
    width: 100%;
    font-family: inherit;
    padding: 16px 20px 0 20px;
    height: 55px;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.479);
    border-radius: 5px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.212);
    color: #ffffff;
}

.signin-floating-label {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 20%;
    padding-left: 20px;
    font-size: 18px;
    cursor: text;
    color: #8c8c8c;
    transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
    transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease,
        -webkit-transform 0.1s ease, -moz-transform 0.1s ease,
        -o-transform 0.1s ease;
}

.sign-btn {
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    background-color: #e50914;
    transition: 0.2s;
}

.sign-btn:hover {
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    background-color: #c11119;
}

input:focus~.signin-floating-label,
input:valid~.signin-floating-label {
    font-size: 11px;
    top: 10px;
    font-weight: 800;
    padding-left: 20px;
}




.or {
    opacity: 0.6;
    margin: 0;
}

.sign-in-code {
    width: 100%;
    height: 40px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
    border-radius: 4px;
    background-color: rgba(226, 218, 218, 0.212);
    border: 0px solid;
    color: white;
    transition: 0.3s;
}

.sign-in-code:hover {
    background-color: rgba(172, 168, 168, 0.212);
}

.password-forgot {
    margin: 0;
    cursor: pointer;
}

.password-forgot:hover {
    text-decoration: underline;
}

.check-box {
    padding-top: 20px;
    display: flex;
    gap: 5px;
}

.custom-checkbox {
    margin: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #6e6d6d;
}

.back-to-the-page {
    /* position: relative; */
    /* top: -20px; */
    display: flex;
    /* margin: 0; */
    gap: 5px;
}

.new-netflix {
    opacity: 0.6;
    margin: 0;
    padding: 0;
}


.back-page {
    margin: 0;
    font-weight: 600;
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

.back-page:hover {
    text-decoration: underline;
    color: white;
}

.back-page:visited {
    color: transparent;
}



.last-para {
    margin-top: 0;
    /* Remove any top margin */
    position: relative;
    /* Ensure it respects normal document flow */
    top: -20px;
    /* Move it upwards by 20px, adjust as needed */
    text-align: start;
    opacity: 0.5;
    font-size: 12px;
    padding-top: 4px;
    word-spacing: 2px;
}


.learn-more {
    color: #0071eb;
    cursor: pointer;
}

.learn-more:hover {
    text-decoration: underline;
}

.footer {
    height: 520px;
    width: 100%;
    background-color: black;
    z-index: 0;
    color: white;
}


.contact {
    display: flex;
    padding-left: 12%;
    padding-top: 18%;
    opacity: 0.7;
    text-decoration: underline;
}


.headings {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2%;
    padding-right: 12%;
    justify-content: flex-start;
}

.headings p {
    cursor: pointer;
    text-decoration: underline;
    padding-left: 11.8%;
    text-align: start;
    opacity: 0.7;
    flex-basis: 13%;
    margin: 5px 0;
}
.drop-down{
    margin-left: 12%;
    display: flex;
    margin-top: 30px;
    height: 32px;
    width: 120px;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    text-align: center;
    background-color: rgb(12, 11, 11);
    font-size: 16px;
}