.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/4d2c5849-b306-4884-9036-6211f7ee0178/web/PK-en-20240930-TRIFECTA-perspective_1bc8cc31-9365-4019-b0d1-7ccff81068a6_medium.jpg');
    background-size: cover;
    object-fit: cover;
    background-position: center 15%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-sizing: border-box;
    /* position: absolute; */

}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.6));
    background-color: rgba(0, 0, 0, 0.5);
    /* Dark overlay with 50% opacity */
    z-index: 1;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 17px;
    /* padding: 10px; */
    /* Adjust padding as needed */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* Center the content horizontally */
    z-index: 1;
    /* Ensure it's above the background image */
}

.right-side {
    display: flex;
    align-items: start;
    padding-right: 50%;
}

.left-side {
    padding-left: 40px;
    margin-right: 20px;
}

.logo {
    max-width: 160px;
    /* Adjust logo size as needed */
    height: auto;
}

.sign-in {
    width: 78px;
    height: 32px;
    border-radius: 4px;
    border: 0px solid #e50914;
    background-color: #e50914;
    color: white;
    font-weight: bold;
}

.sign-in:hover {
    cursor: pointer;
    width: 78px;
    border-radius: 5px;
    border: 0px solid #c11119;
    background-color: #c11119;
    height: 32px;
    color: white;
}




.text-input {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding-top: 120px;
    /* padding-bottom: 50px;  */
}

.home-heading {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 56px;
    font-weight: 900;
    margin: 0;
}

.text-input h3 {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 20px;
    margin: 10px;
}

.text-input p {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    padding-top: 20px;
}

.input-fill {
    position: relative;
    display: flex;
}

.home-input {
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.479);
    background-color: rgba(20, 20, 20, 0.719);
    justify-content: start;
    width: 340px;
    height: 28px;
    padding: 10px;
    padding-top: 15px;
    color: white;
}


.home-input:focus {
    cursor: text;
    color: white;
    border: 1px solid white;
    border-color: #ffffff;
}

.btn {
    height: 54px;
    width: 220px;
    margin-left: 6px;
    border: 0px solid #e50914;
    background-color: #e50914;
    border-radius: 4px;
    color: white;
    font-size: 26px;
    font-weight: 600;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    height: 54px;
    width: 220px;
    margin-left: 6px;
    border: 0px solid #c11119;
    background-color: #c11119;
    border-radius: 4px;
    color: white;
    font-size: 24px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    cursor: pointer;
}

/* Wrapper styling */
.input-fill {
    position: relative;
    margin: 20px 0;
}

/* Floating label styling */
.floating-label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: white;
    transition: 0.2s ease all;
    pointer-events: none;
    /* Prevent the label from being clickable */
}

/* Move label when input is focused */
.home-input:focus~.floating-label {
    top: 12px;
    left: 10px;
    font-size: 12px;
    color: white;
    /* Label color when it floats */
}

/* Retain the label position after user clicks and fills the input */
.home-input:not(:placeholder-shown)~.floating-label {
    top: 10px;
    left: 10px;
    font-size: 10px;
    color: white;
}













.sign-logo {
    max-width: 160px;
    height: auto;
    padding-right: 250px;
}


.sign-container {
    background-color: rgba(0, 0, 0, 0.6);
    /* padding: 60px; */
    padding-top: 20px;
    height: 300px;
    padding-left: 65px;
    padding-right: 65px;
    margin-top: 120px;
    width: 320px;
    padding-bottom: 75%;
    border-radius: 5px;
    margin-bottom: 40px;
}

.signin-heading {
    text-align: start;
    font-size: 2em;
    font-weight: 700;
    /* margin-bottom: 0px; */
}

.container .form-element {
    position: relative;
    margin: 0 auto;
    padding-bottom: 16px;
}

.signin-input {
    box-sizing: border-box;
    width: 100%;
    font-family: inherit;
    padding: 16px 20px 0 20px;
    height: 55px;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.479);
    border-radius: 5px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.212);
    color: #ffffff;
}

.signin-floating-label {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 20%;
    padding-left: 20px;
    font-size: 18px;
    cursor: text;
    color: #8c8c8c;
    transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
    transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease,
        -webkit-transform 0.1s ease, -moz-transform 0.1s ease,
        -o-transform 0.1s ease;
}

.sign-btn {
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    background-color: #e50914;
    transition: 0.2s;
}

.sign-btn:hover {
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    background-color: #c11119;
}

input:focus~.signin-floating-label,
input:valid~.signin-floating-label {
    font-size: 11px;
    top: 10px;
    font-weight: 800;
    padding-left: 20px;
}




.or {
    opacity: 0.6;
    margin: 0;
}

.sign-in-code {
    width: 100%;
    height: 40px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
    border-radius: 4px;
    background-color: rgba(226, 218, 218, 0.212);
    border: 0px solid;
    color: white;
    transition: 0.3s;
}

.sign-in-code:hover {
    background-color: rgba(172, 168, 168, 0.212);
}

.password-forgot {
    margin: 0;
    cursor: pointer;
}

.password-forgot:hover {
    text-decoration: underline;
}

.check-box {
    padding-top: 20px;
    display: flex;
    gap: 5px;
}

.custom-checkbox {
    margin: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #6e6d6d;
}

.back-to-the-page {
    /* position: relative; */
    /* top: -20px; */
    display: flex;
    /* margin: 0; */
    gap: 5px;
}

.new-netflix {
    opacity: 0.6;
    margin: 0;
    padding: 0;
}


.back-page {
    position: relative;
    top: -16px;
    margin: 100;
    /* padding-bottom: -10px; */
    font-weight: 600;
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

.back-page:hover {
    text-decoration: underline;
    color: white;
}

.back-page:visited {
    color: transparent;
}



.last-para {
    margin-top: 0;
    /* Remove any top margin */
    position: relative;
    /* Ensure it respects normal document flow */
    top: -50px;
    /* Move it upwards by 20px, adjust as needed */
    text-align: start;
    opacity: 0.5;
    font-size: 12px;
    padding-top: 4px;
    word-spacing: 2px;

}


.learn-more {
    color: #0071eb;
    cursor: pointer;
}

.learn-more:hover {
    text-decoration: underline;
}

.footer {
    height: 520px;
    width: 100%;
    background-color: black;
    z-index: 0;
    color: white;
}


.contact {
    display: flex;
    padding-left: 12%;
    padding-top: 18%;
    opacity: 0.7;
    text-decoration: underline;
}


.headings {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2%;
    padding-right: 12%;
    justify-content: flex-start;
}

.headings p {
    cursor: pointer;
    text-decoration: underline;
    padding-left: 11.8%;
    text-align: start;
    opacity: 0.7;
    flex-basis: 13%;
    margin: 5px 0;
}

.drop-down {
    margin-left: 12%;
    display: flex;
    margin-top: 30px;
    height: 32px;
    width: 120px;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    text-align: center;
    background-color: rgb(12, 11, 11);
    font-size: 16px;
    cursor: pointer;
}








.default-ltr-cache-dulgtd {
    position: relative;
    background: linear-gradient(to right, rgb(252, 52, 85), red, rgb(252, 52, 85));
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    height: 6.25rem;
    z-index: 1;
}

@media (min-width: 600px) {
    .default-ltr-cache-1f97ztc {
        width: 180%;
        left: -40%;
    }
}

.default-ltr-cache-1f97ztc {
    width: 200%;
    left: -50%;
}

.default-ltr-cache-1f97ztc {
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    top: 0;
    margin: auto;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: solid .25rem transparent;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border-bottom: none;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}








/* Container styling */
.trending {
    background-color: black;
    padding: 1px;
}

/* Heading styling */
.trending-heading {
    color: white;
    padding-top: 40px;
    padding-left: 10%;
}

.trending-ul {
    display: flex;
    transition: transform 3s ease-in-out;
    overflow-x: scroll;
    overflow-y: visible;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-margin-inline-start: 2.5em;
    padding: 10px;
    /* Adjust transition speed for smoothness */
}

/* Number styling */
.number {
    z-index: 1;
    padding: 0;
    line-height: 0.5;
    display: inline-block;
    height: 1em;
    position: relative;
    font-weight: 900;
    left: 35px;
    color: rgb(5, 5, 5);
    -webkit-text-stroke: 0.10rem #ffffff;
    text-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    font-size: 80px;
    transition: transform 0.2s ease;
    /* Smooth transition for number scaling */
    transform-origin: right center;
    /* Keeps the number position fixed during scaling */
}

/* Image styling */
.image {
    border-radius: 10px;
    max-width: 180px;
    transition: transform 0.2s ease;
    transform-origin: center center;
    z-index: 10;
}

.image-span {}

.images-line {
    padding-top: 10px;
    position: relative;
    display: flex;
    flex-basis: 100px;
    justify-content: space-between;
    left: -30px;
    width: 220px;
}

/* Grid container */
.trending-images-grid {
    display: flex;
    overflow: hidden;
    width: 100%;
    transition: transform 3s ease-in-out;
    /* Adjust width to fit 5 images */
}

/* Number and image scaling on hover */
.number-div {
    position: relative;
    display: flex;
    align-items: end;
    transition: transform 0.3s ease;
}

.number-div:hover .number {
    transform: scale(1.2);
    cursor: pointer;
}

.number-div:hover .image {
    transform: scale(1.1);
    cursor: pointer;
}

/* Button styling */
.next-button {
    height: 120px;
    width: 22px;
    cursor: pointer;
    background-color: rgb(26, 25, 25);
    color: #fff;
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.1s ease;
}

.next-button-div {
    z-index: 1;
    height: 280px;
    width: 350px;
    border: 1px solid black;
}

.next-button:hover {
    background-color: #444;
}

.pre-button {
    border: none;
    border-radius: 5px;
    background-color: rgb(26, 25, 25);
    color: #fff;
    height: 120px;
    width: 22px;
    position: absolute;
    left: 100px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.1s ease;
}

.pre-button-div {
    background-color: black;
    z-index: 1;
    width: 300px;
    border: 1px solid black;
}

.pre-button:hover {
    background-color: #444;
}

.trending-images-container {
    display: flex;
    position: relative;
    align-items: center;
    top: -20px;
}












.reasons {
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: center;
    color: white;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.join-heading {
    display: flex;
    padding-left: 10.2%;
    color: white;
    position: relative;
    top: 4px;
}

.reason-div {
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    flex-basis: 18%;
    border-radius: 15px;
    height: 300px;
    width: 210px;
    margin-bottom: 10px;
    padding: 7px;
}

.reason-div h2 {
    padding: 8px;
    position: relative;
    top: -12px;
}

.reason-div p {
    position: relative;
    padding-left: 8px;
    top: -24px;
    opacity: 0.8;
}

@media (max-width: 1000px) {

    .reason-div {
        position: relative;
        flex: 100%;
        height: 170px;
        margin: -4px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .join-heading{
        padding-left: 30px;
    }
}
.reason-div-img1{
    display: flex;
    position: relative;
    left: 183px;
    top: 53px;
}
.reason-div-img2{
    display: flex;
    position: relative;
    left: 182px;
    top: 10px;
}
.reason-div-img3{
    display: flex;
    position: relative;
    left: 182px;
    top: 52px;
}
.reason-div-img4{
    display: flex;
    position: relative;
    left: 182px;
}